<form class="form relative">
    <button class="absolute left-2 -translate-y-1/2 top-1/2 p-1">
        <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search"
            class="w-5 h-5 text-main">
            <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
                stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </button>
    <input
        class="input rounded-full px-8 py-3 border-2 border-transparent focus:outline-none focus:border-main placeholder-secondary transition-all duration-300 shadow-md"
        placeholder="Recherche..." required="" type="text" #searchInput (input)="updateProduits(searchInput.value)" />
</form>